.header{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    border-bottom: 1px solid lightgray;
    .headerLeft{
        display: flex;
        align-items: center;
        img {
            height: 1.2rem;
            object-fit: contain;
        }
    }
    .headerSearch{
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        width: 40%;
        padding: 0px 10px;
        input {
            height: 25px;
            flex: 1;
            border: none;
            border-right: 1px solid lightgray;
        }
        .MuiSvgIcon-root{
            color: gray;
        }
    }
    .headerIcons{
        display: flex;
        align-items: center;
        .MuiSvgIcon-root{
            margin-right: 5px;
        }
        .headerIcons__Avatar{
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}