.recommendVideo{
    flex: 0.95;
    background: #f9f9f9;
    padding: 1rem;
    overflow-y: scroll;
    .recommendVideo__Lists{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
    }
}